body {
    padding: 10px;
}

img {
    width: 20rem;
}

.listing {
    max-width: 30rem;
}

.listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: var(--gray);
    }
    #nav {
        background-color: var(--dark);
    }
    .card {
        background-color: var(--dark);
        color: white;
    }
} */

@media only screen and (max-width: 775px) {
    .listings {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .listings {
        grid-template-columns: repeat(1, 1fr);
    }
}