{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    <div>
        {% if user.is_authenticated and listing.status == 0 %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}    
            {% endif %}

            {% if listing.user == user %}
                <a href="{% url 'close' id=listing.id %}">Close Auction</a>
            {% endif %}

        {% endif %}

        {% if user.is_authenticated and listing.status == 1 %}

            {% if listing.winner.id == user.id %}
                <div class="alert alert-success" role="alert">You Won!</div>
            {% endif %}

        {% endif %}

        <div class="card listing">
            <img src="{{ listing.img_path }}" class="card-img-top">
            <p class="card-text p-2">{{ listing.description }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: ${{ listing.price|intcomma }}</li>
                <li class="list-group-item">Current Bid: ${{ max_bid.amount|intcomma }}</li>
                {% if user.is_authenticated and listing.status == 0 %}
                    <li class="list-group-item">
                        <form action="{% url 'listing' id=listing.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" name="add-to-watchlist" class="btn btn-sm btn-outline-danger"><i class="bi bi-heart"> Watchlist</i></button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if user.is_authenticated and listing.status == 0 %}
        <form action="{% url 'bid' id=listing.id %}" method="post" class="form-inline">
                {% csrf_token %}
                {{ bid_form }}
                <input type="submit" value="Bid" class="btn btn-success btns">
        </form>
        
        <form action="{% url 'comment' id=listing.id %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
                <div class="comment-btn">
                    <input type="submit" value="Comment" class="btn btn-success btns">
                </div>
        </form>
        {% endif %}

        {% for comment in comments %}
            <div class="card comment-card">
                <h5 class="card-title p-2">{{ comment.user }}</h5>
                <h6 class="card-subtitle px-2 mb-2 text-muted">{{ comment.created_at }}</h6>
                <p class="card-body">{{ comment.text }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}